body {
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
}

.person {
  margin: 10px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: darksalmon;
  color: #fff;
  padding: 14px;
  border: none;
  text-transform: uppercase;
  margin: 2vh;
  border-radius: 10px;
}

img {
  margin-top: 10vh;
  width: 40vh;
}

h1 {
  color: darkslategray;
}
